@import '../../mixins';
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.card{
    background: var(--secondary-color);
    border-radius: 0.5rem;
    @include flex-container(column, flex-start, flex-start, 1.5rem);
    box-shadow: 0 4px 6px var(--shadow-color);
    padding: 0 0 1.5rem 0;
    transition: transform 0.3s ease;
    width: 100%;

    & .poster{
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    & .poster img{
        transition: transform 0.3s ease;
    }

    & img:hover{
        transform: scale(1.1);
    }

}

.card-content{
    @include flex-container(column, flex-start, flex-start, 1rem);
    padding: 0 1rem;
    width: 100%;
}

.movie-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-primary);
}

.movie-info{
    font-size: 0.875rem;
    color: var(--text-secondary);
    @include flex-container(row, flex-start, center, 0.9rem);

    & span{
        @include flex-container(row, center, center, 0.2rem);
    }

    & svg{
        font-size: 14px;
    }
}

.genres{
    @include flex-container(row, flex-start, center, 0.5rem);

    & .genre-pill{
        font-size: 0.7rem;
        border: 1px solid var(--border-color);
        padding: 0.2rem 0.6rem;
        border-radius: 9999px;
        box-shadow: 0 2px 4px var(--shadow-color);
        background-color: var(--bg-tertiary);
        color: var(--text-primary);
    }
}

.desc{
    color: var(--text-secondary);
    height: 8rem;
    overflow-y: auto;
    display: -webkit-box;
    line-clamp: 4;
    font-family: 'Pt Serif', serif;
    -webkit-box-orient: vertical;
    
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-radius: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
        border-radius: 6px;
        transition: background 0.3s ease;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover);
    }
    
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}