<div class="login-wrapper">
    <app-logo [width]="3.6" [height]="3.6" [backgroundColor]="'var(--third-color)'" [color]="'var(--secondary-color)'"></app-logo>
    <h3>Inicia sesion en tu cuenta de MindFlix</h3>
    <form class="login-form" [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
            <label for="email">Correo electronico:</label>
            <input type="email" id="email" name="email" formControlName="email">

            @if(aS.getFormError('email','required', form, submitted())){
                <span class="formGroup-error">El correo electrónico es obligatorio</span>
            }
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" formControlName="password">
            @if(aS.getFormError('password','required', form, submitted())){
                <span class="formGroup-error">La contraseña es obligatoria</span>
            }

            @if(aS.getFormError('password','minlength', form, submitted())){
                <span class="formGroup-error">La contraseña debe tener al menos 6 caracteres</span>
            }
        </div>
        @if(loading()){
            <app-spinner [height]="30" [width]="30"></app-spinner>
        }@else{
            <button type="submit">Iniciar sesion</button>
        }
    </form>
    @if(loginError()){
        <p class="error-msg">{{ loginError() }}</p>
    }
    <p style="margin-top: 1rem; text-align: center; color: var(--text-secondary);">
        ¿No tienes cuenta? 
        <a routerLink="/auth/register" style="color: var(--primary-color); text-decoration: underline;">Regístrate aquí</a>
    </p>
</div>