@use '@angular/cdk' as cdk;
@import '@angular/cdk/overlay-prebuilt.css';


@include cdk.overlay();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  min-height: 100vh;
  font-family: sans-serif;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button, input, textarea {
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:root{
  --primary-color: #8b5cf6;
  --secondary-color: #ffffff;
  --third-color: #000000;
}

.spacer{
  flex-grow: 1;
}

.cdk-dialog-container{
  outline: none;
}

.cdk-overlay-container{
  z-index: 999999;
}